<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JBehave Story Editor"
            extensions="story"
            icon="icons/editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.technbolts.jbehave.eclipse.editors.story.StoryEditor"
            id="org.technbolts.jbehave.eclipse.editors.story.StoryEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="jbehave_templates/jbehave_templates.xml">
      </include>
      <contextType
            class="org.technbolts.jbehave.eclipse.editors.story.completion.StoryContextType"
            id="org.technbolts.jbehave.story"
            name="JBehave story">
      </contextType>
   </extension>
   
   <extension
       point="org.eclipse.ui.commands">
      <command
            id="org.technbolts.jbehave.eclipse.actions.show-outline"
            name="Show outline"/>
      <command
            id="org.technbolts.jbehave.eclipse.actions.quick-search"
            name="Show outline"/>
      <command
            id="org.technbolts.jbehave.eclipse.actions.jump-to-declaration"
            name="Jump to declaration"/>
   </extension>
   
   <extension
       point="org.eclipse.ui.contexts">
     <context
          id="org.technbolts.jbehave.eclipse.storyEditorScope"
          name="JBehave Story Editor"
          parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   
   <extension
       point="org.eclipse.ui.bindings">
       <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            commandId="org.technbolts.jbehave.eclipse.actions.show-outline"
            contextId="org.technbolts.jbehave.eclipse.storyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
      <key
            commandId="org.technbolts.jbehave.eclipse.actions.quick-search"
            contextId="org.technbolts.jbehave.eclipse.storyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+J"/>
      <key
            commandId="org.technbolts.jbehave.eclipse.actions.jump-to-declaration"
            contextId="org.technbolts.jbehave.eclipse.storyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G"/>
   </extension>
   
   <extension
	   id="storyMarker"
	   point="org.eclipse.core.resources.markers"
	   name="JBehave error">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <persistent value="true"/>
	   <attribute name="errorCode"/>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution"> 
		<markerResolutionGenerator 
			markerType="technbolts-jbehave-eclipse-plugin.storyMarker" 
			class="org.technbolts.jbehave.eclipse.editors.story.MarkerResolutionGenerator"> 
		</markerResolutionGenerator>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.technbolts.jbehave.eclipse.preferences.EditorPreferencePage"
          id="org.technbolts.jbehave.eclipse.preferences.EditorPreferencePage"
          name="Story Editor Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.technbolts.jbehave.eclipse.preferences.PreferenceInitializer">
    </initializer>
 </extension>

</plugin>
